page-masonry-cards {
    .pins {
        column-count: 2;
    }


    .pin {
        display: inline-block;
    }

    .card {
        margin-top: 10px;
    }

    ion-avatar {
        margin: 0 !important;
    }

    .item ion-avatar img {
        width: 9vw ;
        height: 9vw;
    }

    .post-description {
        padding: 8px;
        border-bottom: 1px solid #eee;
    }

    // Media queries
    @media (min-width: 480px) {
        .pins {
            column-count: 3;
        }
        .item ion-avatar img {
            width:  7vw !important;
            height: 7vw !important;
        }
    }

    @media (min-width: 640px) {
        .pins {
            column-count: 4;
        }
        .item ion-avatar img {
            width:  5vw !important;
            height: 5vw !important;
            margin: 6px;
        }
    }
}
