.ios, .md{
	page-expandable-header {
		ion-item{
				width: 92%;
				margin: 4%;
				padding-left: 10px !important;
				margin-bottom: 10px;
				background-color: #fff;
				opacity: 0.7;
				font-size: 0.9em;
				transition: 0.2s linear;
			}
	}
}
