page-slide-rtl {
  h2 {
    color: white;
  }
  ion-slides,
  .swiper-container {
    height: 100%;
    width: auto;
  }
  .swiper-slide {
    background-size: cover !important;
    background-position: center !important;
  }
  .swiper-pagination-bullet {
    background-color: white;
  }
}

