<ion-header>
  <ion-navbar>
    <ion-title>Currency Converter</ion-title>
  </ion-navbar>
</ion-header>
<ion-content padding>
  <ion-item>
    <ion-label>From Currency</ion-label>
    <ion-select [(ngModel)]="fromCurrency">
      <ion-option *ngFor="let currency of currencies" [value]="currency">{{currency}}</ion-option>
    </ion-select>
  </ion-item>
  <ion-item>
    <ion-label>To Currency</ion-label>
    <ion-select [(ngModel)]="toCurrency">
      <ion-option *ngFor="let currency of currencies" [value]="currency">{{currency}}</ion-option>
    </ion-select>
  </ion-item>
  <ion-item>
    <div>Rate: 1 {{fromCurrency}}
      <=> {{baseRate}} {{toCurrency}}</div>
    <button ion-button item-end (click)="getRate()">Convert</button>
  </ion-item>
  <ion-grid>
    <!-- Header -->
    <ion-row>
      <ion-col>
        <strong>{{1 | currency:toCurrency:true}}</strong>
      </ion-col>
      <ion-col>
        <strong>{{50 | currency:toCurrency:true}}</strong>
      </ion-col>
      <ion-col>
        <strong>{{100 | currency:toCurrency:true}}</strong>
      </ion-col>
      <ion-col>
        <strong>{{500 | currency:toCurrency:true}}</strong>
      </ion-col>
    </ion-row>
    <ion-row class="success">
      <ion-col>
        {{1 / baseRate | currency:fromCurrency:true}}
      </ion-col>
      <ion-col>
        {{50 / baseRate | currency:fromCurrency:true}}
      </ion-col>
      <ion-col>
        {{100 / baseRate | currency:fromCurrency:true}}
      </ion-col>
      <ion-col>
        {{500 / baseRate | currency:fromCurrency:true}}
      </ion-col>
    </ion-row>
  </ion-grid>
  <ion-grid>
    <!-- Header -->
    <ion-row>
      <ion-col>
        <strong>{{1 | currency:fromCurrency:true}}</strong>
      </ion-col>
      <ion-col>
        <strong>{{50 | currency:fromCurrency:true}}</strong>
      </ion-col>
      <ion-col>
        <strong>{{100 | currency:fromCurrency:true}}</strong>
      </ion-col>
      <ion-col>
        <strong>{{500 | currency:fromCurrency:true}}</strong>
      </ion-col>
    </ion-row>
    <!-- Body -->
    <ion-row class="active">
      <ion-col>
        {{1 * baseRate | currency:toCurrency:true}}
      </ion-col>
      <ion-col>
        {{50 * baseRate | currency:toCurrency:true}}
      </ion-col>
      <ion-col>
        {{100 * baseRate | currency:toCurrency:true}}
      </ion-col>
      <ion-col>
        {{500 * baseRate | currency:toCurrency:true}}
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
