page-currency-converter {
    
    ion-row.active {
    background-color: #f5f5f5;
    }

    ion-row.success {
    background-color: #dff0d8;
    }

    ion-row.warning {
    background-color: #fcf8e3;
    }

    ion-row.error {
    background-color: #f2dede;
    }
}
