expandable-header {
    .back {
        position: absolute;
        z-index: 999;
        color: #fff;
        font-size: 30px;
        top: calc( 66px - 40px);
        left: 10px;
        z-index: 999999
    }
    .stretchy_header_title {
        width: 100%;
    }
    .stretchy_header_title .tweet_number {
        color: #fff;
        z-index: 999;
        position: relative;
        font-size: 0.7em;
    }
    .blur-filter {
        position: absolute;
        width: 100%;
        height: 100%;
        -webkit-backdrop-filter: blur(20px);
        opacity: 0;
    }
    .vertical-align-content {
        display: flex!important;
        align-self: flex-end
    }
    .picture {}
}