page-tinder-cards {
  ion-card {
    display: block;
  }
  ion-card.td-card {
    border: 1px solid #999;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.2);
    border-radius: 6px;
    width: 85%;
    height: 70vh;
    position: absolute;
  }
  ion-card img {
    border-radius: 5% 5% 0px 0px;
    max-width: 100%;
  }
  .fade {
    -webkit-transition: 0.2s opacity linear;
    transition: 0.2s opacity linear;
    opacity: 0;
  }
  ion-footer {
    height: 15%;
  }
  .tinder-footer {
    width: 55%;
    margin: auto;
    padding-top: 6px;
  }
  .rate {
    width: 70px;
    height: 70px;
    border-radius: 70px;
    background: #FFF;
    border: 5px solid #f0f0f0;
    float: left;
    box-shadow: 1px 1px 1px 0px #e9e9e9;
  }
  .rate:nth-child(1) {
    margin-left: 4px;
    background: url(http://web.arjentienkamp.com/codepen/tinder/delete.png);
    background-size: 25px;
    background-position: center;
    background-repeat: no-repeat;
  }
  .rate:nth-child(3) {
    margin-left: -4px;
    background: url(http://web.arjentienkamp.com/codepen/tinder/heart.png);
    background-size: 25px;
    background-position: center;
    background-repeat: no-repeat;
  }
  .info {
    width: 40px;
    height: 40px;
    border-radius: 40px;
    background: #FFF;
    border: 5px solid #f0f0f0;
    float: left;
    box-shadow: 1px 1px 1px 0px #e9e9e9;
    margin-top: 14px;
    margin-left: -4px;
    background: url(http://web.arjentienkamp.com/codepen/tinder/info.png);
    background-size: 15px;
    background-position: center;
    background-repeat: no-repeat;
  }
}
