<ion-header>
  <ion-navbar>
    <ion-title>Tinder Cards</ion-title>
  </ion-navbar>
</ion-header>
<ion-content padding>
  <div swing-stack #myswing1 [stackConfig]="stackConfig" (throwoutleft)="voteUp(true)" (throwoutright)="voteUp(false)" id="card-stack">
    <ion-card #mycards1 swing-card *ngFor="let card of cards" class="td-card">
      <ion-item *ngIf="card.picture">
        <img *ngIf="card.picture" [src]="card.picture.medium">
        <h1>{{ card.name.first }} {{ card.name.last}}</h1>
        <p>{{ card.email }}</p>
      </ion-item>
      <ion-card-content *ngIf="card.location">
        From: {{ card.location.city }}, {{ card.location.postcode }}<br> Phone: {{ card.phone }}
      </ion-card-content>
      <ion-row *ngIf="card.name" class="align-center">
        <ion-col width-50>
          <button ion-button color="secondary" clear (click)="voteUp(true)">
            <ion-icon name="thumbs-up"></ion-icon>
            <div>Yes</div>
          </button>
        </ion-col>
        <ion-col width-50>
          <button ion-button color="danger" clear (click)="voteUp(false)">
            <ion-icon name="thumbs-down"></ion-icon>
            <div>No</div>
          </button>
        </ion-col>
      </ion-row>
    </ion-card>
  </div>
  <div class="footer">
    <div id="swipe_dislike" class="rate"></div>
    <div class="info"></div>
    <div id="swipe_like" class="rate"></div>
  </div>
</ion-content>

