<ion-grid>
  <ion-row>
    <ion-col *ngFor="let option of options"
              (click)="select(option)"
              [class.selected]="option.selected"
              [class.pulse]="option.selected"
              class="scroll-item selectable-icon">
      <img [src]="option.image"
           [style.border-color]="borderColor"/>
      <p text-center
         [style.color]="textColor">
         {{option.text}}
      </p>
      <ion-icon name="ios-checkmark-circle"
                [style.color]="textColor">
      </ion-icon>
    </ion-col>
  </ion-row>
</ion-grid>
