page-team-members {
  .tabbar {
    background-color: map-get($colors, primary) !important;
  }
  .tabbar::after {
    background-image: unset !important;
  }
  .team-icon {
    height: 50px;
    object-fit: cover;
    margin: 0 auto;
    width: 50px;
    border-radius: 50%;
  }
  .tab-button {
    min-height: 100px !important;
  }
  .tabs-md .tab-button[aria-selected=true] img {
    border: 2px solid map-get($colors, secondary);
  }
}
