<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Weather Forecast</ion-title>
  </ion-navbar>
</ion-header>
<ion-content>
  <ion-item>
    <ion-label>City</ion-label>
    <ion-input type="text" [(ngModel)]="city" name="city"></ion-input>
  </ion-item>
  <ion-row class="align-center">
    <ion-col>
      <button ion-button (click)="getLocalForecast()">Local Forecast</button>
    </ion-col>
    <ion-col>
      <button ion-button (click)="getWeekForecast()">City Forecast</button>
    </ion-col>
  </ion-row>
  <ion-item *ngIf="cityForecast">
    <ion-thumbnail item-start>
      <img src="http://openweathermap.org/img/w/{{cityForecast.weather[0].icon}}.png">
    </ion-thumbnail>
    <h1>{{city}}</h1>
    <h2>{{cityForecast.dt * 1000 | date: 'EEEE' }} - {{cityForecast.weather[0].description}}</h2>
    <h3>High {{cityForecast.main.temp_max | temperature:'c'}}</h3>
    <h3>Low {{cityForecast.main.temp_min | temperature:'c'}}</h3>
  </ion-item>
  <ion-list>
    <ion-list-header *ngIf="forecast"> 7 Day forecast of {{city}}</ion-list-header>
    <ion-item *ngFor="let weather of forecast">
      <ion-thumbnail item-start>
        <img src="http://openweathermap.org/img/w/{{weather.weather[0].icon}}.png">
      </ion-thumbnail>
      <h2>{{weather.dt * 1000 | date: 'EEEE' }} - {{weather.weather[0].description}}</h2>
      <h3>High {{weather.temp.max | temperature:'c'}}</h3>
      <h3>Low {{weather.temp.min | temperature:'c'}}</h3>
    </ion-item>
  </ion-list>
</ion-content>
