page-weather {
  $main-c: #fff;
  %shadow {
    z-index: -1;
    position: absolute;
    content: "";
    bottom: 15px;
    left: 10px;
    width: 50%;
    top: 80%;
    max-width: 300px;
    box-shadow: 0 15px 10px #000;
    transform: rotate(-3deg);
  }
  ion-content {
    position: relative;
    height: 100vh;
    background-color: #337ab7;
    font-family: 'Josefin Sans', sans-serif;
  }
  .cistern {
    min-width: 540px;
    height: 300px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  .main-info {
    background: #333;
    width: 300px;
    height: 100%;
    padding: 25px;
    position: relative;
    color: $main-c;
    text-align: center;
    float: left;
    &:before {
      @extend %shadow;
    }
    .temp {
      font-size: 8rem;
      font-family: 'Montserrat';
      font-weight: 700;
      .unit {
        color: #F16C6C;
        cursor: pointer;
      }
    }
    .city {
      font-size: 2rem;
    }
    .country {
      font-size: 18px;
      font-weight: bold;
    }
  }
  .icon {
    background-color: $main-c;
    width: 240px;
    height: 100%;
    position: relative;
    float: right;
    display: flex;
    justify-content: center;
    align-items: center;
    &:after {
      @extend %shadow;
      transform: rotate(3deg);
      left: auto;
      right: 10px;
    }
    .wi {
      font-size: 150px;
    }
  }
  @media screen and (max-width: 559px) {
    .cistern {
      min-width: 300px;
      height: 600px;
      border-radius: 0;
    }
    .main-info {
      height: 300px;
      float: none;
      border-radius: 0;
      &:before {
        display: none;
      }
      .temp {
        margin-top: 0;
      }
    }
    .icon {
      float: none;
      width: 300px;
      height: 300px;
      border-radius: 0;
      &:before {
        z-index: -1;
        position: absolute;
        content: "";
        bottom: 15px;
        left: 10px;
        width: 50%;
        top: 80%;
        max-width: 300px;
        box-shadow: 0 15px 10px #000;
        transform: rotate(-3deg);
      }
    }
  }
}
